#pred { color: red; }
#pblue { color: black; }
#rojoo { color: orange; }
h1 { color: green; }
h2 { color: purple; }
h3 { color: red; }
h3 { color: yellow; }
h4 { color: pink; }
h5 { color: gray; }
h6 { color: cyan;}
#zedd {width: 400px; }
